.env
.env.local

.DS_Store
Thumbs.db

.idea/
.vscode/

backend/tmp/

mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/android/.gradle/
mobile/android/local.properties